@page "/admin/article/new"

@using System.IO
@using Blazor.FileReader
@using Microsoft.AspNetCore.Hosting
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Processing
@using SixLabors.ImageSharp.PixelFormats
@using SixLabors.ImageSharp.Formats.Jpeg
@using RazorComponentsBlog.Models
@using RazorComponentsBlog.Services
@using Microsoft.AspNetCore.Components.Services
@using System.Text
@using System.Text.RegularExpressions

@inject ArticleService ArticleService
@inject IUriHelper UriHelper
@inject IWebHostEnvironment env;
@inject IFileReaderService fileReaderService;
@inject IJSRuntime JSRuntime
@inject Sotsera.Blazor.Toaster.IToaster toaster

<div class="container rcb-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5 mb-5">Nový článek</h1>
            <div class="form-group mb-5">
                <label for="articleTitleInput" class="h4">Titulek článku</label>
                <input type="text" class="form-control" id="articleTitleInput" placeholder="Titulek článku" bind="@ArticleTitle" />
            </div>
            <div class="form-group mb-5">
                <label class="h4">Úvodní obrázek</label>
                <div class="custom-file">
                    <input type="file" ref="FileInput" accept="image/*" class="custom-file-input" id="imageFileInput" onchange="@GenerateImageThumbnail" />
                    <label class="custom-file-label" for="imageFileInput">Soubor</label>
                </div>

                @if (imageThumbnailGenerating)
                {
                    <div class="text-center">
                        <p>Probíhá generování náhledu obrázku...</p>
                    </div>
                }

                @if (imageBase64 != null)
                {
                    <div class="text-center">
                        <img src=@imageBase64 class="img-fluid">
                    </div>
                }

            </div>
            <div class="form-group mb-5">
                <label class="h4">Text článku</label>
                <textarea></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="@Save">Uložit článek</button>
            </div>
            <div>
                @if (FileName != null)
                {
                    <span>good</span>
                    <img src=@("uploads/images/" + FileName) />
                }
            </div>

        </div>
    </div>
</div>



@functions {
    private string ArticleTitle { get; set; }

    ElementRef FileInput;

    public string Output { get; set; }

    public string FileName { get; set; }

    public string EditorContent { get; set; }

    private string imageBase64;

    private bool imageThumbnailGenerating = false;

    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        JSRuntime.InvokeAsync<object>("tinymceInterop.init");
    }

    public async void Save()
    {
        EditorContent = await JSRuntime.InvokeAsync<string>("tinymceInterop.getContent");
        string url = ToUrlSlug(ArticleTitle);
        Article article = new Article { Created=DateTime.Now, Title = ArticleTitle, Text = EditorContent, Url=url, UserId=1 };
        await ArticleService.AddArticle(article);
        //await JSRuntime.InvokeAsync<string>("tinymceInterop.highlightCode");
        toaster.Success("Článek byl uložen");
        UriHelper.NavigateTo("/");
    }

    public async Task GenerateImageThumbnail()
    {
        imageBase64 = null;
        imageThumbnailGenerating = true;

        foreach (var file in await fileReaderService.CreateReference(FileInput).EnumerateFilesAsync())
        {
            using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4096))
            using (Image<Rgba32> image = Image.Load(memoryStream))
            {
                if (image.Width > 800)
                {
                    image.Mutate(i => i.Resize(800, 0));
                }

                if (image.Height > 800)
                {
                    image.Mutate(i => i.Resize(0, 800));
                }
                imageBase64 = image.ToBase64String(JpegFormat.Instance);
                imageThumbnailGenerating = false;
            }
        }
    }

    public async Task ReadFile()
    {
        foreach (var file in await fileReaderService.CreateReference(FileInput).EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            FileName = MakeValidFileName(fileInfo.Name);
            var uploadPath = Path.Combine(env.WebRootPath, "uploads/images", FileName);

            using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4096))
            using (Image<Rgba32> image = Image.Load(memoryStream))
            {
                if (image.Width > 1000)
                {
                    image.Mutate(i => i.Resize(1000, 0));
                }

                if (image.Height > 1000)
                {
                    image.Mutate(i => i.Resize(0, 1000));
                }
                image.Save(uploadPath);
            }
        }

    }

    private static string MakeValidFileName(string name)
    {
        string invalidChars = System.Text.RegularExpressions.Regex.Escape(new string(System.IO.Path.GetInvalidFileNameChars()));
        string invalidRegStr = string.Format(@"([{0}]*\.+$)|([{0}]+)", invalidChars);

        return System.Text.RegularExpressions.Regex.Replace(name, invalidRegStr, "_");
    }

    private static string ToUrlSlug(string value)
    {

        //First to lower case
        value = value.ToLowerInvariant();

        //Remove all accents
        var bytes = Encoding.GetEncoding("Cyrillic").GetBytes(value);
        value = Encoding.ASCII.GetString(bytes);

        //Replace spaces
        value = Regex.Replace(value, @"\s", "-", RegexOptions.Compiled);

        //Remove invalid chars
        value = Regex.Replace(value, @"[^a-z0-9\s-_]", "", RegexOptions.Compiled);

        //Trim dashes from end
        value = value.Trim('-', '_');

        //Replace double occurences of - or _
        value = Regex.Replace(value, @"([-_]){2,}", "$1", RegexOptions.Compiled);

        return value;
    }
}
