@page "/about"

<h1>O webu</h1>

<p>Tento projekt vznikl jako ukázková aplikace v rámci diplomové práce Využití frameworku ASP.NET Core Razor Components a metodiky MMSP pro tvorbu webových aplikací.</p>