@page "/about"

<div class="mb-5">
    <TopFrame TopFrameClass="page-no-index" Title="O webu">
    </TopFrame>
</div>
<div class="container rcb-container">
    <div class="row">
        <div class="col-12">
            <p>Tento projekt vznikl jako ukázková aplikace v rámci diplomové práce Využití frameworku ASP.NET Core Razor Components a metodiky MMSP pro tvorbu webových aplikací.</p>
        </div>
    </div>
</div>


