@page "/about"

<div class="mb-5">
    <TopFrame TopFrameClass="page-no-index" Title="O webu">
    </TopFrame>
</div>
<div class="container rcb-container">
    <div class="row">
        <div class="col-12">
            <p>
                Tento projekt vznikl jako ukázková aplikace v rámci diplomové práce Využití frameworku ASP.NET Core Razor Components a metodiky MMSP pro tvorbu webových aplikací.
            </p>
            <p>
                Aplikace obsahuje typické funkce webových aplikací, jako je routování, načítání dat z databáze, upload souborů, vyhledávání nebo stránkování mezi výsledky.
            </p>
            <p>
                V aplikaci není prozatím implementována funkce pro přihlašování do administrátorské části, vzhledem k tomu, že framework ASP.NET Core Razor Components
                v současné době oficiálně nepodporuje žádný mechanismus pro autentizaci. Dle debaty na <a href="https://github.com/aspnet/AspNetCore/issues/4048" target="_blank">Githubu</a>
                je však v současné době mechanismus navržený a v Preview verzi 5 by měl být implementován.
            </p>
            <p>
                Zdrojové kódy této aplikace jsou k nahlédnutí ve veřejném repozitáři na Githubu <a href="https://github.com/lionnel8/RazorComponentsBlog" target="_blank">zde</a>.
            </p>
        </div>
    </div>
</div>


