@page "/article/{id:int}/{url}"
@using RazorComponentsBlog.Models
@using Microsoft.AspNetCore.Components.Services
@using RazorComponentsBlog.Services
@inject IUriHelper UriHelper
@inject ArticleService ArticleService

@if (article != null)
{
    <h1>@article.Title</h1>
    <p>@article.Text</p>
}

@functions {

    [Parameter]
    private int Id { get; set; }

    [Parameter]
    private string Url { get; set; }

    Article article;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        article = await ArticleService.GetArticleDetail(Id, Url);

        if (article == null)
        {
            UriHelper.NavigateTo("/page-not-found");
        }

    }


}
