html {
    font-size: 18px;
    min-width: 320px;
}

a {
    color: #000000;
    transition: color 0.5s;
}

    a:hover {
        color: #304ffe;
        text-decoration: none;
    }

.content {
    margin-bottom: 100px;
    min-height: 1000px;
}

#topFrame {
    background-color: #304ffe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='351' height='292.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

#topFrameContentContainer {
    padding-top: 160px;
    padding-bottom: 120px;
}

.page-no-index #topFrameContentContainer {
    padding-top: 110px;
    padding-bottom: 110px;
}

.shadow-soft {
    box-shadow: 0.8rem 1.4rem 3.8rem rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
}

.article-card .article-card-image-box {
    min-height: 200px;
}

.article-card-image-box img {
    object-fit: cover;
}

.article-card__article-date {
    font-size: .95rem;
    opacity: 0.6;
}

#articleDetailContent {
    margin-top: -80px;
}

.search-item__item-date {
    font-size: .95rem;
    opacity: 0.6;
}

.bg-indigo {
    background-color: #0026ca !important;
}

.bg-indigo-light {
    background-color: #7a7cff !important;
}

.bg-indigo-dark {
    background-color: #0026ca !important;
}

.bg-teal {
    background-color: #1de9b6 !important;
}

.bg-teal-light {
    background-color: #6effe8 !important;
}

.bg-teal-dark {
    background-color: #00b686 !important;
}

.btn {
    font-weight: 500;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.btn-indigo {
    background-color: #304ffe !important;
    border-color: #304ffe !important;
    color: #fff;
}

    .btn-indigo:hover {
        background-color: #0026ca !important;
        border-color: #0026ca !important;
        color: #fff;
    }


.btn-indigo-light {
    background-color: #7a7cff !important;
    border-color: #7a7cff !important;
    color: #fff;
}

    .btn-indigo-light:hover {
        background-color: #304ffe !important;
        border-color: #304ffe !important;
        color: #fff;
    }

.btn-indigo-dark {
    background-color: #0026ca !important;
    border-color: #0026ca !important;
    color: #fff;
}

    .btn-indigo-dark:hover {
        background-color: #0026ca !important;
        border-color: #0026ca !important;
        color: #fff;
    }

.btn-teal {
    background-color: #1de9b6 !important;
    border-color: #1de9b6 !important;
    color: #000;
}

    .btn-teal:hover {
        background-color: #00b686 !important;
        border-color: #00b686 !important;
        color: #000;
    }

.btn-teal-light {
    background-color: #6effe8 !important;
    border-color: #6effe8 !important;
    color: #000;
}

    .btn-teal-light:hover {
        background-color: #1de9b6 !important;
        border-color: #1de9b6 !important;
        color: #000;
    }

.btn-teal-dark {
    background-color: #00b686 !important;
    border-color: #00b686 !important;
    color: #000;
}

    .btn-teal-dark:hover {
        background-color: #00b686 !important;
        border-color: #00b686 !important;
        color: #000;
    }


.navbar-indigo .navbar-nav .nav-link {
    color: #ffffff;
    opacity: .8;
}

    .navbar-indigo .navbar-nav .active > .nav-link, .navbar-indigo .navbar-nav .nav-link.active, .navbar-indigo .navbar-nav .nav-link.show, .navbar-indigo .navbar-nav .show > .nav-link {
        opacity: 1;
    }

.navbar-indigo .navbar-toggler {
    color: #ffffff;
    opacity: .8;
    border: none;
}

.navbar-indigo .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .article-card.article-card--large .article-card-image-box {
        min-height: 300px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .rcb-container {
        max-width: 960px;
    }
}
