@if (PageCount > 1)
{
    <div class="d-flex justify-content-between align-items-center">
        @if (HasPreviousPage)
        {
            <button onclick="@(() => ChangePage(--CurrentPage))" class="btn btn-teal"><i class="fas fa-arrow-left mr-2"></i>Novější</button>
        }
        <span>Stránka @CurrentPage z @PageCount</span>
        @if (HasNextPage)
        {
            <button onclick="@(() => ChangePage(++CurrentPage))" class="btn btn-teal">Starší <i class="fas fa-arrow-right ml-2"></i></button>
        }
    </div>
}


@functions {
    [Parameter]
    private int PageCount { get; set; }

    [Parameter]
    private int CurrentPage { get; set; }

    [Parameter]
    private bool HasNextPage { get; set; }

    [Parameter]
    private bool HasPreviousPage { get; set; }

    [Parameter]
    private Action<int> OnPageChanged { get; set; }

    private void ChangePage(int pageIndex)
    {
        OnPageChanged(pageIndex);
    }
}
