@inherits LayoutComponentBase
<header>
    <TopMenu />
</header>
<section class="introduction container-fluid">
    <p>Nejaky obrazek a dalsi veci</p>
</section>
<section class="articles container">
    <p>Seznam clanku</p>
    @Body
</section>
<footer>
    <div class="container">
        <p>Paticka</p>
    </div>
</footer>
