<div class="container-fluid footer bg-indigo-light text-white">
    <div class="container">
        <div class="footer__content pt-4 pb-4">
            <p>Razor Components Blog</p>
        </div>
    </div>
</div>