@layout MainLayout
@page "/page-not-found"
<div class="mb-5">
    <TopFrame TopFrameClass="page-no-index" Title="Stránka nenalezena">
    </TopFrame>
</div>
<div class="container rcb-container">
    <div class="row">
        <div class="col-12">
            <p class="text-center"><img src="images/travolta.gif" /></p>
        </div>
    </div>
</div>